
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
    height: 100%;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


.bg-steel {
  background-color: #5f788a;
}



.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.account-heading {
  font-size: 2.5rem;
}


.col-center {
  float: none;
  margin: 0 auto;
}

.alert.error {
  background-color: red;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.animated-gif{
  width: 100px;
  height: auto;
}
