{% extends "layout_admin.html" %}


{% block content %}
 {% for course in created_courses %}
     <div class="content-section">
        <div class = "row">

            <h5>{{ course.name }}</h5>

            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.course(class="form-control form-control-lg") }}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </div>
     </div>

 {% endfor %}

{% endblock content %}
