{% extends "layoutAPP.html" %}


{% block content %}

            <h3>Cursos Disponibles</h3>
            <p class='text-muted'>Inscribete ahora!</p>

                {% for course in created_courses %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for("course_page", course_id = course.id) }}"> {{ course.name }} </a></li>
                    </ul>
                {% endfor %}

{% endblock content %}
