{% extends "layoutAPP.html" %}

{% block content %}
    <div class="container">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <div class="row">
                    <div class="col-md-9">
                        <legend class="border-bottom mb-8"><h2>{{ course_data.name }}</h2></legend>
                    </div>

                    <div class="col-md-3 form-inline d-none d-lg-block">

                        <div class="form-group">

                                {% if form.key.errors %}
                                    {{ form.key(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.key.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.key(class="form-control form-control-sm") }}
                                {% endif %}
                        </div>

                         <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>



                    </div>
            </div>
            <div class="row">


            </div>
        </form>
        <div class = "d-lg-none">
            <form method="POST", action="">
                {{ form.hidden_tag() }}
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </form>
        </div>






        <div class="row">
            <h6>Profesor: {{ course_data.teacher }}</h6>
        </div>

        <div class="row">
            <h6>Horario: {{ course_data.hour }}</h6>


        </div>

        <div class="row">
            <legend class="border-bottom mb-4"><h3> Inscritos </h3></legend>
        </div>

        {% for student in course_data.students %}
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"> {{ student }} </li>
                </ul>
            </div>
        {% endfor %}

    </div>
    </div>
    </div>





{% endblock content %}