{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2> ¿Tus datos son correctos? </h2>
        <h3>       Crear cuenta para ...     </h3>
                <table class="table" width = "500">
                    <tr>
                        <td>
                            Nombre:
                        </td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">{{ name }}</li>
                            </ul>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Matricula:
                        </td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">{{ matricula }}</li>
                            </ul>
                        </td>
                    </tr>
                     <tr>
                        <td>
                            Carrera:
                        </td>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">{{ carrera }}</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <table>
                    <form method="POST", action="">
                        {{ form.hidden_tag() }}
                        <tr>

                                <div class="form-group">
                                    {{ form.key.label(class="form-control-label") }}
                                    {% if form.key.errors %}
                                        {{ form.key(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.key.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                    {% else %}
                                        {{ form.key(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>

                        </tr>
                        <tr>

                                <div class="form-group">
                                    {{ form.confirm_key.label(class="form-control-label") }}
                                    {% if form.confirm_key.errors %}
                                        {{ form.confirm_key(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_key.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_key(class="form-control form-control-lg") }}
                                    {% endif %}

                                </div>

                        </tr>
                        <tr>
                            <td>
                                    <div class="form-group">
                                        {{ form.submit(class="btn btn-primary btn-lg") }}
                                    </div>

                            </td>
                            <td>
                                <div class="form-group">
                                    <a href="{{ url_for("login") }}" class="btn btn-danger btn-lg" role="button" aria-pressed="true">Cancelar</a>
                                </div>
                            </td>
                        </tr>
                    </form>



                </table>



    </div>

     <small class="text-muted">
         Al presionar aceptar, estas de acuerdo con nuestros <a class="ml-2" href="{{ url_for('register') }}">terminos y condiciones</a>.
     </small>
{% endblock content %}