<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    {% if title %}
        <title>Verano - {{ title }}</title>
    {% else %}
        <title>Verano</title>
    {% endif %}
</head>


<body>
    <header>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-light p-2">
                    <span> <a class="nav-item h1" href="{{ url_for('students_home') }}"><i class="fa fa-home"></i> Home</a></span> <hr>
                    <div class="d-lg-none"> <span><a class="nav-item h1" href="{{ url_for("mobile_available_courses", user_id = current_user.id)}}"> <i class="fa fa-book"></i> Cursos disponibles</a></span> <hr> </div>
                    <span><a class="nav-item h1" href="{{ url_for('new_course') }}"> <i class="fa fa-th-list"></i> Crear curso</a></span> <hr>
                    <span><a class="nav-item h1" href="{{ url_for("my_courses", user_id = current_user.id)}}"> <i class="fa fa-user"></i> Mis cursos</a></span>
                </div>
            </div>
        <nav class="navbar navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                Tecnologico de Cancun
            </button>

            <a href="{{ url_for("logout") }}" class="btn btn-outline-danger active" role="button" aria-pressed="true">Logout</a>
        </nav>
        </div>
        </br>
        </br>
        </br>
    </header>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-4 d-none d-lg-block">
          <div class="content-section">
            <h3>Cursos Disponibles</h3>
            <p class='text-muted'>Inscribete ahora!</p>

                {% for course in created_courses %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{{ url_for("course_page", course_id = course.id) }}"> {{ course.name }} </a></li>
                    </ul>
                {% endfor %}
          </div>
        </div>



          <div class="col-md-8">
            <div class="content-section">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
            </div>
        </div>


      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>