{% extends "layoutAPP.html" %}


{% block content %}
    <div class="row">
        <div class="container">
                <h2>Cursos de {{ current_user.matricula}}</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th> Curso</th>
                            <th> Pagar</th>
                            <th> Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for UsrCrsLk in current_user.course_rel %}
                            <tr>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-light">{{ UsrCrsLk.Course.name }}</li>
                                    </ul>
                                </td>

                                <td>
                                    <a class="btn btn-outline-success" href= "{{  url_for("payment_page", user_id = UsrCrsLk.user_id, course_id = loop.index0) }}" role="button">Pagar</a>
                                </td>
                                <td>
                                    test
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        </div>
    </div>

{% endblock content %}
