{% extends "layoutAPP.html" %}


{% block content %}

    <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h2>Comprobante de pago</h2> </legend>

                <div class="form-group">
                    {{ form.image.label(class="form-control-label") }}
                    {{ form.image(class = "form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span>{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>




            <h2> Informacion de pago </h2>
            <table class="table" width = "500">
                <tr>
                    <td>
                        Cuenta:
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Sin pagar</li>
                        </ul>
                    </td>
                </tr>
                 <tr>
                    <td>
                        Monto:
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Sin pagar</li>
                        </ul>
                    </td>
                </tr>
                 <tr>
                    <td>
                        Fecha:
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Sin pagar</li>
                        </ul>
                    </td>
                </tr>
                 <tr>
                    <td>
                        Autorizacion:
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Sin pagar</li>
                        </ul>
                    </td>
                </tr>
            </table>

{% endblock content %}
