{% extends "layoutAPP.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <legend class="border-bottom mb-4"><h2>Noticias y avisos</h2></legend>

            El día de hoy la Lic. S. Xóchitl Carmona Bareño-Directora de nuestra casa de estudios, tuvo a bien entregar los reconocimientos a los 4 proyectos participantes en el Evento Nacional Estudiantil de Innovación Tecnológica del TecNM, 2018 en su fase Regional.

            Dicho Evento se llevó a cabo en la Cd. de Villhaermosa, Tabasco del 25 al 28 de septiembre del año en curso teniendo como sede el Instituto Tecnológico de Villahermosa y donde el objetivo que el TecNM plantea es el “Desarrollar proyectos disruptivos o incrementales que fortalezcan las competencias creativas, emprendedoras e innovadoras de los participantes a través de la transferencia de tecnología y comercialización, dando respuesta a las necesidades de los sectores estratégicos del país”.
        </div>
    </div>

{% endblock content %}


