{% extends "layout_teachers.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <legend class="border-bottom mb-4"><h2>Mis cursos</h2></legend>
        </div>
            {% for course in current_user.offered_courses %}
                <div class="row">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"> {{ course }} </li>
                    </ul>
                </div>
                <br>
            {% endfor %}





            <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ofrecer curso</legend>


                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control form-control-lg") }}
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}

